/*Header formatting*/
.header {
    padding: 20px 10px;
    background: #F5FCFF;
    text-align: center;
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    font-size: 1vw;
}

/*Body formatting*/
body{
    padding: 5vw;
    text-align: center;
}

/*Footer formatting*/
.footer{
    padding: 20px 10px;
    background: #F5FCFF;
    text-align: center;
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    font-size: 1vw;
}