<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="/static/main.css"
          media="screen"/>
    <title>Project | Covid Data</title>
</head>

<body>
<div class="background">
    <div class="wrapper">
        <div class="wrapper">
            <div class="header">
                <img src="/static/img/logo.png" class="logo">
                <h2 class="title">Covid Statistics in Slovakia</h2>
            </div>
            <div class="map"></div>
            <div class="graph1"></div>
            <div class="graph2"></div>
            <div class="stat1">
                <div class="row1"></div>
                <div class="row2"></div>
                <div class="row3"></div>
            </div>
            <div class="stat2">
                <div class="row4"></div>
                <div class="row5"></div>
                <div class="row6"></div>
            </div>
            <div class="footer">
                <p>Project | Covid Data ver. Tsys 09/2022. Developed by J.Pavlíčko, P.Živčák, R.Dugas & R.Gebe.</p> <br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>