<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="/static/main.css"
          media="screen"/>
    <title>Project | Covid Data</title>
</head>

<header class="header">
    <h1>Project | Covid Data</h1>
    <p>My supercool header</p>
</header>


<body>
The inside of the body
</body>

<footer class="footer">
    <hr/>
    Project | Covid Data ver. Tsys 09/2022.
    Developed by J.Pavlíčko, P.Živčák, R.Dugas & R.Gebe.
</footer>
</html>